Repository ksoichiro/container.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, stylua, lua-tests, check-claude-md, check-makefile, check-help-doc

luacheck:
  name: Lua linting with luacheck
  entry: make lint
  language: system
  pass_filenames: false

stylua:
  name: Lua formatting with StyLua
  entry: make format-check
  language: system
  pass_filenames: false

lua-tests:
  name: Run Lua test suite
  entry: make test
  language: system
  pass_filenames: false

check-claude-md:
  name: Verify CLAUDE.md exists and contains required sections
  entry: bash
  args:
  - -c
  ...

check-makefile:
  name: Verify required Makefile targets
  entry: bash
  args:
  - -c
  ...

check-help-doc:
  name: Verify help documentation exists
  entry: bash
  args:
  - -c
  ...

docs: clean up duplicate sections in COVERAGE_ANALYSIS.md
  COVERAGE_ANALYSIS.md
Due: none

feat: add pre-commit coverage check to maintain 70% threshold
  .pre-commit-config.yaml
  Makefile
  scripts/check_coverage.sh
Due: check-makefile

fix: improve container state management and Docker environment resilience
  lua/container/docker/init.lua
  lua/container/init.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile, check-help-doc

fix: add missing entrypoint configuration in async container creation
  lua/container/docker/init.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile

feat: implement containerEnv variable expansion and postCreateCommand array support
  README.md
  TODO.md
  examples/env-expansion-example/.devcontainer/devcontainer.json
  examples/env-expansion-example/README.md
  examples/env-expansion-example/go.mod
  examples/env-expansion-example/main.go
  lua/container/environment.lua
  lua/container/init.lua
  lua/container/parser.lua
  test/unit/test_env_expansion_fixed.lua
  test/unit/test_env_expansion_implementation.lua
  test/unit/test_env_expansion_issue.lua
  test/unit/test_postcreate_command.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile, check-help-doc

feat: improve statusline icons and add progress indicators
  README.md
  lua/container/config.lua
  lua/container/init.lua
  lua/container/ui/statusline.lua
  lua/container/ui/telescope/pickers.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile, check-help-doc

feat: implement multi-language LSP support and fix E2E test hanging
  ftplugin/c.lua
  ftplugin/cpp.lua
  ftplugin/go.lua
  ftplugin/javascript.lua
  ftplugin/lua.lua
  ftplugin/python.lua
  ftplugin/rust.lua
  ftplugin/typescript.lua
  lua/container/docker/init.lua
  lua/container/init.lua
  lua/container/lsp/ftplugin_manager.lua
  lua/container/lsp/init.lua
  lua/container/lsp/language_registry.lua
  test/e2e/helpers/nvim_setup.lua
  test/e2e/run_test.lua
  test/e2e/test_essential_e2e.lua
  test/e2e/test_full_workflow.lua
  test/unit/test_ftplugin_integration.lua
  test/unit/test_lsp_ftplugin_manager.lua
  test/unit/test_lsp_init_comprehensive.lua
  test/unit/test_lsp_init_edge_cases.lua
  test/unit/test_lsp_language_registry.lua
  test/unit/test_multi_language_lsp_init.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile, check-help-doc

test: enhance coverage for multi-language LSP modules
  test/unit/test_async_enhanced_coverage.lua
  test/unit/test_docker_init_enhanced_coverage.lua
  test/unit/test_lsp_ftplugin_manager.lua
  test/unit/test_lsp_init_enhanced_coverage.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile

test: improve coverage for multi-language LSP modules
  test/unit/test_async_enhanced_coverage.lua
  test/unit/test_docker_init_enhanced_coverage.lua
  test/unit/test_lsp_ftplugin_manager.lua
  test/unit/test_lsp_init_enhanced_coverage.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile

style: apply StyLua formatting to enhanced test files
  test/unit/test_async_enhanced_coverage.lua
  test/unit/test_docker_init_enhanced_coverage.lua
  test/unit/test_lsp_init_enhanced_coverage.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile

fix: resolve async test failures and unpack compatibility
  test/unit/test_async_enhanced_coverage.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile

test: enhance test coverage and fix compatibility issues
  lua/container/utils/async.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile

test: add comprehensive coverage tests and improve test quality
  test/unit/test_init_direct_coverage.lua
  test/unit/test_lsp_init_enhanced_coverage.lua
  test/unit/test_lsp_init_enhanced_coverage.lua.broken
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile

feat: implement comprehensive test coverage improvements to 12.22%
  test/unit/test_comprehensive_coverage.lua
  test/unit/test_core_modules_focused.lua
  test/unit/test_direct_module_coverage.lua
  test/unit/test_fs_comprehensive.lua
  test/unit/test_lsp_init_comprehensive.lua
  test/unit/test_lsp_init_focused.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile

feat: achieve 24.91% test coverage with comprehensive test infrastructure
  Makefile
  lua/container/docker/init.lua
  lua/container/environment.lua
  lua/container/init.lua
  lua/container/lsp/init.lua
  lua/container/utils/fs.lua
  test/unit/disabled/test_comprehensive_coverage.lua
  test/unit/disabled/test_docker_enhanced_stable.lua
  test/unit/disabled/test_docker_init_enhanced_coverage.lua
  test/unit/disabled/test_init_direct_coverage.lua
  test/unit/disabled/test_lsp_init_enhanced_coverage.lua
  test/unit/disabled/test_lsp_init_focused.lua
  test/unit/disabled/test_lsp_strategy_comprehensive.lua
  test/unit/test_config_validator_comprehensive.lua
  test/unit/test_core_modules_focused.lua
  test/unit/test_direct_module_coverage.lua
  test/unit/test_docker_comprehensive_boost.lua
  test/unit/test_environment_comprehensive.lua
  test/unit/test_fs_comprehensive.lua
  test/unit/test_init_comprehensive_boost.lua
  test/unit/test_lsp_init_enhanced_coverage.lua
  test/unit/test_lsp_init_enhanced_coverage.lua.broken
  test/unit/test_quick_wins.lua
  test/unit/test_stage1_config_boost.lua
  test/unit/test_stage1_immediate.lua
  test/unit/test_stage1_parser_boost.lua
  test/unit/test_stage2_docker_basics.lua
  test/unit/test_stage3_lsp_basics.lua
  test/unit/test_terminal_session_comprehensive.lua
  test/unit/test_test_runner_comprehensive.lua
  test/unit/test_ui_picker_comprehensive.lua
  test/unit/test_utils_fs_comprehensive.lua
  test/unit/test_utils_fs_focused.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile, check-help-doc

feat: add HTML coverage visualization with line-by-line highlighting
  .gitignore
  Makefile
Due: check-makefile

feat: improve HTML coverage accuracy by using complete test suite
  Makefile
Due: check-makefile

refactor: remove unused legacy functions to improve code quality
  lua/container/docker/init.lua
  lua/container/lsp/strategy.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile

feat: add HTML coverage visualization with line-by-line highlighting
  test/unit/test_simple_transform_enhanced.lua
Due: luacheck, stylua, lua-tests, check-claude-md, check-makefile

fix: replace problematic HTML coverage reporter with reliable text-based analysis
  Makefile
Due: check-makefile

Path conditions:
  luacheck: any of: \.lua$
  stylua: any of: \.lua$
  lua-tests: any of: \.lua$
  check-claude-md: any of: (CLAUDE\.md|\.lua)$
  check-makefile: any of: (Makefile|\.lua)$
  check-help-doc: any of: (plugin/.*\.lua|lua/container/init\.lua|doc/container\.txt)$
